<div class="container">
  <div class="row">
  <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= @task.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @task.text %></p>
          <hr>
          <p class="card-text"><%= @task.created_at.strftime('%d.%m') %></p>
        </div>
      </div>
      <hr>
      <div class="comments">
        <% @task.comments.each do |comment| %>
        <p class="font-weight-bold">
        <%= link_to('@'+comment.user.name, user_path(comment.user_id) ) %>:
        </p>
        <p><%= comment.body %></p>
        <div class="link">
          <% if current_user?(comment.user)%>
            <%= link_to 'удалить', [comment.task, comment],
          method: :delete%>
          <%end%>
        </div>
          <hr>
        <% end %>

      </div>

      <br>
      <%= bootstrap_form_for([@task, @task.comments.build], local: true) do |f| %>

        <div class="field">
        <%= f.text_area :body, label: "Комментарий" %>
        </div>

        <div class="actions">
          <%= f.primary "Добавить" %>
          <%= link_to('Назад',user_path(current_user), class: "btn btn-dark" )%>
        </div>
      <% end %>
      <br>
      <br>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div> 